<nav class="navbar">
  @if (!isLogged()) {
    <span class="navbar-left" routerLink="/about">Qui sommes nous?</span>
  }

  @if (isLogged()) {
    <span class="navbar-brand logged">ANIMATCH 🐾</span>
  } @else {
    <span class="navbar-brand" routerLink="/welcome">ANIMATCH 🐾</span>
  }
  
  @if (isLogged()) {
    <div class="navbar-right">
      
      @if (isAdmin()) {
        <a routerLink="/admin/validation" routerLinkActive="active" class="nav-btn">Mon profil</a>
      } 
      
      @else if (isShelter()) {
        <a routerLink="/shelter-matches" routerLinkActive="active" class="nav-btn">Matchs</a>
        <a routerLink="/messages" routerLinkActive="active" class="nav-btn">Messages</a>
        
        
      }

      @else {
        <a routerLink="/feed" routerLinkActive="active" class="nav-btn">Feed</a>
        <a routerLink="/adopter-like" routerLinkActive="active" class="nav-btn">Matchs</a>
        <a routerLink="/messages" routerLinkActive="active" class="nav-btn">Messages</a>
        <a routerLink="/preferences" routerLinkActive="active" class="nav-btn">Mes Préférences</a>
        <a routerLink="/user-profile-form" routerLinkActive="active" class="nav-btn">Mon Profil</a>
      }

      <button (click)="logout()" class="btn-logout">Déconnexion</button>
    </div>
  }
</nav>